@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url('/fonts/Raleway.ttf') format('truetype');
}

[data-theme="aconite"] {
    --color-yin: #fff;
    --color-yang: #000;
    --color-joy: #f8fafb;
    --color-text: #5c6881;
    --color-body: #212529;
    --color-dino: #edf2f5;
    --color-dawn: #00ac39;
    --color-xing: #43b0ff;
    --color-esther: #a1d8ff;
    --color-irony: #f2f2f2;
    --color-hippo: #3f566e;
    --color-cuddy: #7c869e;
    --color-ninja: #f8f8f8;
    --color-brady: #f5f6fa;
    --color-jerry: #b5b5b5;
    --color-disco: #404040;
    --color-winney: #efefef;
    --color-primary: #5c6881;
    --color-harvest: #182c40;
    --color-fighter: #ffffffbd;
    --color-shazam: rgba(0,0,0,.87);
    --color-orbit: #f2f2f2;
    --color-jupiter: #57aa89;
    --color-softis: #1787d7;
    --color-tenq: #e9e9e9;
    --color-halls: #7b7b7b;
    --color-kenwood: #dfdfdf;
    --color-penny: linear-gradient(137deg, #37a0f6 0%, #3f87fb 90%);
    --shadow-oreo: 6px 4px 16px -16px rgba(0,0,0,0.56);
    --shadow-salty: rgba(50, 50, 50, 0.1) 0px 0px 11px 0px;
}

h1, h2, h3, h4 {
    font-family: "Raleway";
    color: var(--color-hippo);
}

.v-spacer-50 {
    height: 50px;
}

.items-center {
    align-items: center;
}

/** Notification popup **/
.notification-popup {
    display: flex;
    position: fixed;
    bottom: 50px;
    left: 50px;
    padding: 28px 34px;
    background: var(--color-yin);
    border-radius: 15px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--shadow-salty);
    max-width: 600px;
    z-index: 2;
}

.notification-popup__icon {
    height: 80px;
}

.notification-popup__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.notification-popup__description {
    color: var(--color-text);
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 0px;
    width: 100%;
    overflow: auto;
    word-break: break-word;
}

.notification-popup__left {
    margin-right: 32px;
}

.notification-popup__buttons {
    display: flex;
}

.layout {
    min-height: 100vh;
    background-color: var(--color-joy);
}

.login-page {
    padding-bottom: 100px;
}

.page__logo-container {
    padding: 30px 0px 0px 38px;
}

@media only screen and (max-width: 1090px) {
    .page__logo-container {
        padding: 30px 0px 0px 0px;
    }
}

.page__logo {
    height: 50px;
    display: block;
}

@media only screen and (max-width: 1090px) {
    .page__logo {
        margin: 0 auto;
    }
}

.auth-page__main {
    display: flex;
    margin-top: 130px;
    gap: 60px;
}

.auth-page__main--center {
    justify-content: center;
}

.login-page__illustration {
    flex: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 1360px) {
    .login-page__illustration {
        flex: 1;
    }
}

@media only screen and (max-width: 1090px) {
    .login-page__illustration {
        display: none;
    }
}

.login-page__illustration-img {
    max-width: 100%;
}

@media only screen and (max-width: 1530px) {
    .login-page__illustration-img {
        width: 690px;
    }
}

@media only screen and (max-width: 1400px) {
    .login-page__illustration-img {
        width: 600px;
    }
}

@media only screen and (max-width: 1350px) {
    .login-page__illustration-img {
        width: 530px;
    }
}

@media only screen and (max-width: 1256px) {
    .login-page__illustration-img {
        width: 450px;
    }
}

.auth-page__login-form {
    padding-top: 30px;
    flex: 4;
}

.auth-page__registration-form {
    padding-top: 30px;
    width: 950px;
}

.auth-page__login-form--block {
    flex: none;
}

@media only screen and (max-width: 1360px) {
    .auth-page__login-form {
        flex: 1;
    }
}

@media only screen and (max-width: 1400px) {
    .auth-page__login-form {
        padding-top: 60px;
    }
}

@media only screen and (max-height: 944px) {
    .auth-page__login-form {
        padding-top: 0px;
    }
}

@media only screen and (max-height: 850px) {
    .auth-page__login-form {
        margin-top: -60px;
    }
}

@media only screen and (max-height: 700px) {
    .auth-page__login-form {
        margin-top: -80px;
    }
}

.auth-page__form-container {
    width: 470px;
}

@media only screen and (max-width: 1090px) {
    .auth-page__form-container {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 570px) {
    .auth-page__form-container {
        width: 90%;
    }
}

.auth-page__form {
    background: white;
    border: 1px solid var(--color-irony);
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
}

.auth-page__title {
    font-size: 50px;
    font-family: "Raleway";
    color: var(--color-harvest);
}

@media only screen and (max-width: 1090px) {
    .auth-page__title {
        text-align: center;
    }
}

@media only screen and (max-width: 570px) {
    .auth-page__title {
        font-size: 40px;
    }
}

.auth-page__subtitle {
    font-size: 20px;
    color: var(--color-hippo);
}

@media only screen and (max-width: 1090px) {
    .auth-page__subtitle {
        text-align: center;
    }
}

@media only screen and (max-width: 570px) {
    .auth-page__subtitle {
        padding: 0 30px;
    }
}

.auth-page__field {
    display: flex;
    padding: 20px 20px;
}

.auth-page__field--border {
    border-bottom: 1px solid var(--color-orbit);
}

.auth-page__field--email {
    background: var(--color-dino);
}

.auth-page__field-container {
    margin-left: 30px;
}

.auth-page__field-label {
    color: var(--color-cuddy);
}

.login-page__login-check {
    background: var(--color-dawn);
    fill: var(--color-yin);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.login-page__login-check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45px;
}

.auth-page__field-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-page__field-icon-svg {
    width: 31px;
    fill: var(--color-cuddy);
}

.auth-page__field-container {
    flex: 1;
}

.login-page__forgot-password {
    text-align: right;
    margin: 6px 16px 10px 10px;
    font-size: 15px;
}

.auth-page__forgot-link {
    color: var(--color-cuddy);
}

.auth-page__field-input {
    width: 100%;
}

.auth-page__buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 1090px) {
    .auth-page__buttons {
        justify-content: center;
    }
}

@media only screen and (max-width: 385px) {
    .auth-page__buttons {
        flex-direction: column;
    }
}

.button {
    background: var(--color-yin);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 12px 30px;
    font-family: Raleway;
    color: var(--color-text);
    font-variation-settings: "wght" 600;
    box-shadow: var(--shadow-oreo);
    cursor: pointer;
    user-select: none;
    position: relative;
}


@media only screen and (max-width: 1320px) {
    .calendar-toolbar__button {
        padding: 0 30px;
    }
}

.button__select-content {
    display: flex;
    gap: 12px;
}

.button__icon {
    width: 10px;
    color: var(--color-text);
    fill: var(--color-text);
}

.button:hover:active {
    filter: brightness(0.98);
}

.button__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__content--hidden {
    opacity: 0;
}

.button__loader--hidden {
    opacity: 0;
}

.button--primary {
    background: var(--color-penny);
    color: var(--color-yin);
}

.button--primary:hover:active {
    filter: brightness(0.95);
}

.button--secondary {
    background: var(--color-dino);
    color: var(--color-halls);
}

.button--secondary:hover:active {
    filter: brightness(0.95);
}

.button--flat {
    background: var(--color-dino);
    border-radius: 4px;
    padding: 10px 15px;
    color: var(--color-disco);
    font-family: unset;
}

.button--flat:hover:active {
    filter: brightness(0.95);
}

.v-progress-circular {
    height: 40%;
}

.v-progress-circular__overlay {
    word-break: normal;
    tab-size: 4;
    font: inherit;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: .0892857143em;
    text-indent: .0892857143em;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    pointer-events: none;
    color: var(--color-shazam);
    font-size: .875rem;
    fill: transparent;
    stroke-width: 3.80952;
    background-repeat: no-repeat;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    stroke: currentColor;
    z-index: 2;
    transition: all .6s ease-in-out;
    animation: progress-circular-dash 1.4s ease-in-out infinite;
    stroke-linecap: round;
    stroke-dasharray: 80,200;
    stroke-dashoffset: 0px;
}

@keyframes progress-circular-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0px;
    }
    50% {
        stroke-dasharray: 100,200;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 100,200;
        stroke-dashoffset: -125px;
    }
}

.app-layout {
    background: var(--color-brady);
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255,0.95)),url('/img/sidebar-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 240px;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.sidebar-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar__item {
    padding: 15px 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    margin: 6px 0px;
}

.sidebar__organization {
    line-height: 1;
    color: var(--color-cuddy);
    font-size: 14px;
    margin-bottom: 0px;
    text-align: center;
}

.sidebar__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 5px 0px 20px;
    cursor: pointer;
}

.sidebar__name {
    font-weight: bold;
    color: var(--color-disco);
}

.sidebar__profile-pic {
    padding: 10px;
    border: 1px dashed var(--color-xing);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.sidebar__profile-pic--no-border {
    border: 0;
    padding: 0;
}

.sidebar__item * {
    cursor: pointer;
}

.sidebar__item:hover .sidebar__icon,
.sidebar__item:hover .sidebar__item-text {
    color: var(--color-xing);
}

.sidebar__item:hover {
    background: var(--color-winney);
}

.sidebar__item.router-link-exact-active {
    background: var(--color-winney);
}

.sidebar__item.router-link-exact-active .sidebar__icon,
.sidebar__item.router-link-exact-active .sidebar__item-text,
.sidebar__item.router-link-exact-active {
    color: var(--color-xing);
}

.sidebar__icon {
    font-size: 23px;
    color: var(--color-jerry);
}

.sidebar__item-text {
    font-weight: 600;
    color: var(--color-disco);
}

::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
}

.albus-dropdown-menu::-webkit-scrollbar {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    min-height: 40px;
}

:hover::-webkit-scrollbar {
    visibility: visible;
}

:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    background: #bdc1c6;
}

.app-layout__content {
    margin: 0 0 0 240px;
}

.page {
    padding: 20px 30px;
}

.calendar {
    background: var(--color-yin);
    border-radius: 10px;
    padding: 10px 10px;
}

.calendar__providers-container {
    display: flex;
    overflow: auto;
}

.calendar__column {
    flex: 1;
    position: relative;
}

.calendar__column--hours {
    position: sticky;
    left: 0px;
    background: var(--color-yin);
    z-index: 6;
}

.calendar__column:first-child {
    flex: initial;
    width: 90px;
}

.calendar__column:first-child .calendar__row {
    border-bottom: 0;
    text-align: right;
    display: block;
}

.calendar__column:first-child .calendar__row:first-child {
    border-top: 0;
}

.calendar__row {
    height: 70px;
    border-bottom: 1px solid var(--color-winney);
    border-right: 1px solid var(--color-winney);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__row--hour {
    min-width: 90px;
    max-width: 90px;
}

.calendar__row--provider {
    min-width: 280px;
}

.calendar__row:first-child {
    border-top: 1px solid var(--color-winney);
}

.calendar_hour {
    position: relative;
    top: -14px;
    right: 22px;
}

.calendar__head-row {
    display: flex;
    background: var(--color-yin);
    position: sticky;
    top: 0;
    z-index: 7;
    padding: 20px 0;
    box-shadow: rgb(0 0 0 / 50%) 0px 9px 19px -23px;
    opacity: 0.96;
}

.calendar__head-row .calendar__row {
    border: 0;
    height: auto;
}

.calendar__profile-pic {
    border-radius: 50%;
    width: 60px;
    border: 4px solid #0000001a;
}

.calendar__name {
    max-width: 100px;
    margin-left: 14px;
    font-weight: bold;
}

.calendar__event {
    position: absolute;
    width: 90%;
    height: 170px;
    background: #0080659e;
    border-radius: 5px;
    left: 50%;
    top: 210px; /* 70 * 3h */
    transform: translateX(-50%);
    z-index: 2;
    color: var(--color-yin);
    padding: 10px 12px;
}

.calendar__hour-line {
    position: absolute;
    top: 245px;
    height: 2px;
    background: var(--color-esther);
    width: 100%;
    z-index: 3;
}

.calendar__hour-dot {
    position: absolute;
    top: 216px;
    left: -6px;
    width: 10px;
    height: 10px;
    background: var(--color-esther);
    border-radius: 50%;
    z-index: 6;
}

.calendar__event-title {
    font-weight: bold;
}

.calendar__event-time {
    font-size: 14px;
}

.calendar__event-description {
    margin-top: 10px;
    font-size: 15px;
}

.calendar-toolbar {
    padding: 10px 0;
    margin-bottom: 10px;
}

.calendar-toolbar__row {
    display: flex;
    gap: 14px;
    margin-bottom: 20px;
}

.calendar-toolbar__arrow {
    width: 20px;
    fill: var(--color-cuddy);
    padding-top: 14px;
    cursor: pointer;
}

.calendar-toolbar__arrow:hover:active {
    opacity: .8;
}

.calendar-toolbar__date {
    flex: 1;
    font-family: Raleway;
    text-align: center;
    color: var(--color-text);
    font-variation-settings: "wght" 600;
    font-size: 20px;
    padding-top: 10px;
}

.dropdown-menu {
    background: #fff;
    color: var(--color-yang);
    padding: 7px 0;
}

.dropdown-menu--theme {
    background: #edf2f5;
}

.dropdown-menu__item {
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s;
    color: #353535;
    display: block;
    background: inherit;
}

.dropdown-menu__item-content {
    padding: 10px 20px;
}

.dropdown-menu__item:hover {
    background-color: #eaeaea;
    color: #353535;
}

.auth-page__notification {
    text-align: center;
    background: #b9dae847;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 16px;
    color: var(--color-hippo);
    border: 1px solid #00338014;
}

.auth-page__register-columns {
    display: flex;
}

@media only screen and (max-width: 987px) {
    .auth-page__register-columns {
        display: block;
    }

    .auth-page__registration-form {
        width: 80%;
    }
}

.auth-page__register-left {
    flex: 1;
    margin-right: 60px;
}

@media only screen and (max-width: 987px) {
    .auth-page__register-left {
        margin-right: 0;
    }
}

.bounce-enter-active {
    animation: bounce-in 0.4s;
}

.bounce-leave-active {
    animation: bounce-in 0.4s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.bouncecenter-enter-active {
    animation: bouncecenter-in 0.4s;
}

.bouncecenter-leave-active {
    animation: bouncecenter-in 0.4s reverse;
}

@keyframes bouncecenter-in {
    0% {
        transform: translateX(-50%) scale(0) ;
    }

    50% {
        transform: translateX(-50%) scale(1.15) ;
    }

    100% {
        transform: translateX(-50%) scale(1) ;
    }
}

.dropdown-menu__sub-items {
    overflow: hidden;
    max-height: 0;
    transition: .4s;
}

.dropdown-menu__sub-items--visible {
    max-height: 150px;
}

.calendar-toolbar__add-appointment-small {
    display: none;
}

@media only screen and (max-width: 1320px) {
    .calendar-toolbar__add-appointment {
        display: none;
    }

    .calendar-toolbar__add-appointment-small {
        display: block;
        font-size: 23px;
    }
}

.upcoming-appointments-title {
    margin-top: 50px;
}

.upcoming-appointments {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(299px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(170px, 1fr));
    gap: 36px;
    margin-top: 25px;
}

.upcoming-appointments__item {
    background: var(--color-yin);
    border-radius: 8px;
    padding: 12px 18px;
    box-shadow: rgba(0, 0, 0, 0.03) 2px 4px 16px;
}

.upcoming-appointments__title {
    display: flex;
    margin-bottom: 10px;
}

.upcoming-appointments__client {
    font-weight: bold;
    flex: 1;
    color: var(--color-hippo);
    font-size: 18px;
}

.upcoming-appointments__status {
    color: var(--color-jupiter);
    font-weight: bold;
    font-size: 14px;
}

.upcoming-appointments__icon {
    color: var(--color-hippo);
    font-size: 22px;
    opacity: .7;
    position: relative;
    top: 2px;
}

.upcoming-appointments__info {
    padding-left: 6px;
    font-size: 15px;
    color: var(--color-hippo);
}

.dashboard-title {
    margin-top: 10px;
}

.quick-stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(140px, 1fr));
    gap: 36px;
    margin-top: 25px;
}

.quick-stats__item {
    background: var(--color-yin);
    border-radius: 8px;
    padding: 12px 18px;
    box-shadow: rgba(0, 0, 0, 0.03) 2px 4px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 24px;
    color: var(--color-yin);
    position: relative;
    overflow: hidden;
}

.quick-stats__bubbles {
    position: absolute;
    height: 200%;
    right: -50px;
    top: -80px;
}

.quick-stats__count {
    font-size: 40px;
}

.quick-stats__title {
    font-size: 20px;
}

.quick-stats__item--bookings {
    background: linear-gradient(90deg, rgba(196,145,250,1) 0%, rgba(183,123,245,1) 100%);
}

.quick-stats__item--revenue {
    background: linear-gradient(90deg, rgba(106,164,227,1) 0%, rgba(105,116,232,1) 100%);
}

.quick-stats__item--clients {
    background: linear-gradient(90deg, rgba(254,183,131,1) 0%, rgba(255,146,143,1) 100%);
}

.upcoming-appointments__item--add {
    background: url(/img/sidebar-bg.jpg) center center / cover;
    position: relative;
    cursor: pointer;
    transition: .2s;
    user-select: none;
}

.upcoming-appointments__item--add:active:hover {
    background: #606060;
}

.upcoming-appointments__item--add:hover {
    background: var(--color-yin);
}

.upcoming-appointments__item--add:hover * {
    opacity: 1;
}

.upcoming-appointments__add-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(255 255 255 / 96%);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: var(--color-hippo);
}

.upcoming-appointments__add-content * {
    opacity: .9;
}

.upcoming-appointments__add-content i {
    font-size: 35px;
}

.page-container {
    border-radius: 8px;
    background-color: var(--color-yin);
    min-height: calc(100vh - 40px);
}

.page-navigation {
    padding: 0px 30px;
    display: flex;
    border-bottom: 1px solid rgb(228, 231, 235);
    gap: 25px;
}

.page-navigation__item {
    color: var(--color-hippo);
    padding: 24px 0px;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}

.page-navigation__item:hover {
    color: var(--color-yang);
}

.page-navigation__item.router-link-exact-active {
    border-bottom: 2px solid var(--color-xing);
    color: var(--color-yang);
}

.page-container__content {
    padding: 20px 40px;
}

.settings-item {
    padding: 35px 0;
    display: flex;
    border-bottom: 1px solid var(--color-tenq);
}

.settings-item:last-child {
    border-bottom: 0;
}

.settings-item__left {
    flex: 1;
}

.settings-item__right {
    flex: 3;
}

.settings-item__left,
.settings-item__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.settings-item__title {
    color: var(--color-primary);
}

.settings-item__input-upload {
    display: none;
}

.settings-item__uploaded-profile-picture {
    height: 120px;
    margin-top: 20px;
}

input.app-input[type="text"], 
input.app-input[type="email"], 
input.app-input[type="password"] {
    background-color: var(--color-dino);
    border-radius: 4px;
    border: 0px;
    padding: 10px 15px;
    color: var(--color-disco);
}

.app-input:focus {
    outline: none;
}

.theme-picker__item {
    border-radius: 6px;
    margin: 3px 10px;
    padding: 7px 10px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: .2s;
}

.theme-picker__item:hover {
    filter: brightness(0.98);
}

.theme-picker__item--aconite {
    background: linear-gradient(135deg, #fff 65%, rgba(0, 0, 0, 0) 48%), linear-gradient(135deg, #e9e9e9 82%, #34aaff 66%);
}

.theme-picker__item--azkaban {
    background: linear-gradient(135deg, #282c34 65%, #0000 48%), linear-gradient(135deg, #3e4553 82%, rgb(52, 170, 255) 66%);
}

.theme-picker__item--dark-forest {
    background: linear-gradient(135deg, #2f2f2b 65%, #0000 48%), linear-gradient(135deg, #3f3f3d 82%, #ff7129 66%);
}

.theme-picker__item--centaurs {
    background: linear-gradient(135deg, rgb(255, 255, 255) 65%, rgba(0, 0, 0, 0) 48%), linear-gradient(135deg, rgb(233, 233, 233) 82%, rgb(122 189 129) 66%);
}

.theme-picker__item--aconite-selected {
    border: 2px solid #34aaff;
}

.theme-picker__item--centaurs-selected {
    border: 2px solid rgb(122 189 129);
}

.theme-picker__item--azkaban-selected {
    border: 2px solid #34aaff;
}

.theme-picker__item--black-forest-selected {
    border: 2px solid #ff7129;
}

.theme-picker__title {
    color: #acacac;
    font-family: 'Raleway';
    font-variation-settings: "wght" 500;
    font-size: 15px;
}

.theme-picker__description {
    color: #000000;
    font-family: 'Raleway';
    font-variation-settings: "wght" 600;
    font-size: 16px;
}

.theme-picker__description--dark {
    color: #fff;
}


/*
 * Datatable
 */
 .datatable-container {
    overflow: auto;
    height: calc(100vh - 260px);
}

.datatable {
    display: table;
    padding: 5px;
    min-width: 100%;
    position: relative;
    border-collapse: collapse;
}

.datatable tbody {
    border-radius: 4px;
}

.datatable tr {
    border: 0;
}

.datatable__filters {
    display: table-row;
    padding: 5px;
    height: 60px;
    white-space: nowrap;
    font-size: 12px;
    padding: 15px 0px;
}

.datatable__header {
    display: table-row;
    padding: 5px;
    height: 43px;
    white-space: nowrap;
    padding: 15px 0px;
    cursor: pointer;
    font-weight: bold;
    color: var(--color-halls);
    text-transform: uppercase;
    font-size: 12px;
}

.datatable__row {
    display: table-row;
    padding: 5px;
    height: 43px;
    line-height: 1.5;
    font-size: 16px;
}

.datatable__cell {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    position: relative;
}

/* Rounded corners */
.datatable__header .datatable__cell {
    padding: 0px 40px 0px 40px;
    cursor: pointer;
    background: var(--color-dino);
    transition: .2s;
    opacity: .96;
}

.datatable__header .datatable__cell:first-child {
    border-radius: 6px 0 0 6px;
}

.datatable__header .datatable__cell:last-child {
    border-radius: 0 6px 6px 0;
}


.datatable__row:first-child .datatable__cell {
    border: 0;
}

.datatable__filters .datatable__cell {
    border: 0;
    padding: 0px 10px 12px 0;
    text-align: left;
}

/* Spacing */
.datatable__header .datatable__cell {
    padding: 18px 20px;
}

.datatable__row .datatable__cell {
    padding: 20px 20px;
}

.datatable__loading {
    position: absolute;
    top: 54px;
    width: 100%;
    z-index: 2;
    padding: 0 4px;
}

.datatable__loading-on {
    opacity: 0.6;
}

.datatable__pagination {
    background: var(--color-yin);
    height: 60px;
    align-items: center;
    margin-top: 45px;
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    width: auto;
    display: inline-block;
    padding-top: 15px;
    position: relative;
}

.datatable__pagination-items li a {
    color: #7b7b7b;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.datatable__pagination-items li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

.datatable__pagination-items li.datatable__pagination-active {
    background-color: #3a3a3c;
}

.datatable__pagination-items li i {
    position: relative;
    top: 3px;
}

ul:not(.browser-default)>li {
    list-style-type: none;
}

.datatable__pagination.disabled li a {
    color: #999;
}

.datatable__pagination.disabled li.datatable__pagination-active {
    background-color: #e6e6e6;
}

.datatable__pagination .disabled-loading-progress {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 8px;
    opacity: .1;
    z-index: 3;
}

.datatable__header.sticky > .datatable__cell {
    position: sticky;
    top: 0px;
    z-index: 1;
}

tr.datatable__row {
    transition: .3s;
    border-bottom: 1px solid var(--color-winney);
}

tr.datatable__row:last-child {
    transition: .3s;
    border-bottom: 0;
}

.datatable__footer td {
    text-align: center;
    font-style: italic;
    color: #808080;
    padding-top: 27px;
}

.datatable__filters .datatable__cell:last-child {
    padding-right: 0;
}

.datatable-users__toolbar {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 30px 0;
}

.datatable-clients-users__toolbar {
    display: flex;
    margin: 10px 0 30px 0;
    gap: 10px;
}

.datatable__user-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

.datatable__user-text {
    text-align: left;
}

.datatable__user-title {
    font-weight: bold;
    color: var(--color-hippo);
}

.datatable__user-subtitle {
    color: var(--color-text);
}

.datatable__user-name-img {
    width: 50px;
    height: 50px;
}

.datatable__more {
    font-size: 30px;
    color: var(--color-hippo);
    cursor: pointer;
    margin-right: 30px;
}


/*
 * Linear loading
 */
 .v-progress-linear {
    overflow: hidden;
    position: relative;
    transition: .2s cubic-bezier(.4,0,.6,1);
    width: 100%;
    border-radius: 4px;
    height: 8px;
}

.v-progress-linear__background {
    bottom: 0;
    position: absolute;
    top: 0;
    background-color: #ccc;
    border-color: #ccc;
    opacity: 0.3;
    left: 0%;
    width: 100%;
}

.v-progress-linear__buffer {
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.v-progress-linear__indeterminate--long {
    background-color: #ccc;
    border-color: #ccc;
    bottom: 0;
    height: inherit;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
    width: auto;
    will-change: left,right;
    animation-name: indeterminate-ltr;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}

.v-progress-linear__indeterminate--short {
    background-color: #ccc;
    border-color: #ccc;
    bottom: 0;
    height: inherit;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
    width: auto;
    will-change: left,right;
    animation-name: indeterminate-short-ltr;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}

@keyframes indeterminate-short-ltr {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-ltr {
    0% {
        left: -90%;
        right: 100%;
    }

    60% {
        left: -90%;
        right: 100%;
    }
    100% {
        left: 100%;
        right: -35%;
    }
}


.your-subscription {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

.your-subscription__loading {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -6px;
}

.your-subscription__title {
    font-size: 22px;
}

.your-subscription__plan {
    border-radius: 20px;
    background: var(--color-xing);
    padding: 3px 10px 2px 10px;
    color: var(--color-yin);
    font-size: 14px;
    position: relative;
    top: 1px;
    height: 28px;
    min-width: 70px;
}

.subscription-plans {
    display: flex;
    gap: 20px;
}

.subscription-plans__plan {
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid var(--color-kenwood);
    cursor: pointer;
}

.subscription-plans__plan:not(.subscription-plans__plan--selected):hover {
    border: 1px solid var(--color-softis);
}

.subscription-plans__plan--selected {
    border: 2px solid var(--color-softis);
}

.subscription-plans__money {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    color: var(--color-hippo);
}

.subscription-plans__sign {
    font-size: 20px;
}

.subscription-plans__amount {
    font-size: 40px;
    position: relative;
    top: 7px;
}

.subscription-plans__name {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--color-text);
    text-align: center;
}

/*
 * admin-users
 */

 .admin-users {
    display: flex;
    margin-top: 10px;
    max-height: 100%;
    height: calc(100vh - 170px);
    overflow: hidden;
 }

 .admin-users__left {
    width: 340px;
    margin-right: 50px;
 }

 .admin-users__users {
    height: calc(100% - 120px);
    overflow: auto;
 }

 .admin-users__users-label {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
 }

 .admin-users__users-title {
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
 }

 .admin-users__users-count {
    background: var(--color-dino);
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 13px;
 }

 .admin-users__user {
    display: flex;
    position: relative;
    border-radius: 10px;
    padding: 10px 14px;
    margin-bottom: 10px;
    transition: .2s;
    cursor: pointer;
 }

 .admin-users__user:hover {
    background: var(--color-dino);
 }

 .admin-users__user-img {
    width: 50px;
    border-radius: 50%;
 }

.admin-users__user-organization {
    color: var(--color-cuddy);
    font-size: 14px;
}

.admin-users__username {
    margin-left: 18px;
}

 .admin-users__right {
    background: var(--color-dino);
    border-radius: 10px;
    flex: 1;
 }

 .admin-users__user-online {
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    background: #2baa2b;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 10px;
    left: 50px;
 }

 .admin-users__messages {
    height: calc(100% - 120px);
    padding: 32px 32px;
    overflow-y: auto;
    margin-bottom: 20px;
 }

 .admin-users__message {
     display: flex;
     gap: 14px;
     margin-bottom: 25px;
 }

 .admin-users__message-img {
    width: 50px;
    border-radius: 50%;
 }

 .admin-users__message-text {
     background: var(--color-yin);
     border-radius: 10px;
     padding: 10px 10px;
     box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.1);
 }
 .admin-users__message-ago {
    color: var(--color-cuddy);
    font-size: 14px;
    padding-left: 3px;
    margin-top: 2px;
 }

 .admin-users__send-box {
    display: flex;
    background: var(--color-yin);
    border-radius: 6px;
    padding: 10px 10px;
    width: 94%;
    margin: 0 auto;
    box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.1);
 }

 .admin-users__send-input {
     flex: 1;
     padding: 0 10px;
 }

 .admin-users__textarea {
     width: 100%;
     height: 100%;
     border: 0;
     border-radius: 6px;
     padding: 15px 20px;
 }

 .admin-users__textarea:focus {
     outline: none;
 }

 .admin-users__action-container {
     padding: 0 30px;
     display: flex;
     gap: 20px;
 }

 .admin-users__action-container > * {
     flex: 1;
 }

 .message-global__overlay {
    position: fixed;
    background: #00000005;
    z-index: 8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
 }

 .message-global {
    position: fixed;
    top: 40px;
    left: 50%;
    min-width: 100px;
    text-align: center;
    z-index: 10;
    transform: translateX(-50%);
    background: var(--color-yin);
    padding: 20px 50px;
    border-radius: 8px;
    box-shadow: var(--shadow-salty);
    box-shadow: rgba(50, 50, 50, 0.3) 2px 0px 26px -1px;
 }

 .message-global__close {
    position: absolute;
    right: 14px;
    width: 8px;
    top: 5px;
    cursor: pointer;
    fill: rgb(162 162 206);
 }




/*
 * Utility helper classes
 */

.inline {
    display: inline-block;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.flex-1 {
    flex: 1;
}

.w-10p {
    width: 10%;
}

.w-25p {
    width: 25%;
}

.w-full {
    width: 100%;
}

.w-400 {
    width: 400px;
}

.w-300 {
    width: 300px;
}

.w-250 {
    width: 250px;
}

.mr-60 {
    margin-right: 60px;
}

[v-cloak] {
    display: none;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.spacer {
    flex: 1;
}

.h-45 {
    height: 45px;
}

.fs-17 {
    font-size: 17px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.row-reverse {
    flex-direction: row-reverse;
}

.height-auto {
    height: auto;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.pl-12 {
    padding-left: 12px;
}

.p-0 {
    padding: 0;
}

.dropdown-arrows {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9IiM1ODYwNjkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuNDI3IDkuNDI3bDMuMzk2IDMuMzk2YS4yNTEuMjUxIDAgMDAuMzU0IDBsMy4zOTYtMy4zOTZBLjI1LjI1IDAgMDAxMS4zOTYgOUg0LjYwNGEuMjUuMjUgMCAwMC0uMTc3LjQyN3pNNC40MjMgNi40N0w3LjgyIDMuMDcyYS4yNS4yNSAwIDAxLjM1NCAwTDExLjU3IDYuNDdhLjI1LjI1IDAgMDEtLjE3Ny40MjdINC42YS4yNS4yNSAwIDAxLS4xNzctLjQyN3oiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

.pointer {
    cursor: pointer;
}