.page {
    min-height: 100vh;
    background-color: #f8fafb;
}

.login-page__logo-container {
    padding: 30px 0px 0px 38px;
}

.login-page__logo {
    height: 50px;
    display: block;
}

.login-page__main {
    display: flex;
    margin-top: 130px;
    height: calc(100vh - 400px);
}

.login-page__illustration {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-page__illustration-img {
    max-width: 100%;
}

.login-page__login-form {
    flex: 1;
}